@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "DM Sans", sans-serif;
}
.main {
  background-color: rgb(238, 238, 238);
  height: 100vh;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}
